@charset "UTF-8";

#modal_Cts_1 {
   display: none;
   position: relative;
   width: 100%;
   height: 100%;
   z-index: 1;
}

#modal_Cts_1 h2{
   margin: 0;
}
/* 모달창 크기 조절 */
#modal_Cts_1 .modal_content_1 {
   width: 600px;
   height: 280px; 
   top: 50%; 
   background: #fff;
   border: 2px solid #666;
   left: 50%;
   transform: translate(-50%, -50%);
   position: fixed;
}
/* 모달창 뒷 배경 */
#modal_Cts_1 .modal_layer{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.5);
   z-index: -1;
}
/* 모달헤더 */
.modal-head{
	width: 100%; 
	padding: 0px; 
	min-height: 1rem; 
	height: 50px;
}
.modal-head-0{
	font-weight: bold; 
	font-size: 1rem; 
	margin-right: auto;
}
/* 모달 화면구현 */
.cts-view{
	padding:10px;
}
.cts-title{
	border-bottom:4px solid #016FA0;	
	width: 100%;
	font-weight:bold;;
	font-size:22px;
	padding:5px;
}
.cts-title-sub{
	margin:5px 0;
	color:#333333;
	font-weight:bold;
}
.cts-modal-search_1{
	display:flex;
	flex-direction:row;
    align-items: center;
    justify-content: space-around;
	width:100%;
    margin:10px 0;
    padding: 5px;
}
.cts-name{
    border: 1px solid #aaaaaa;
	width: 340px;
    height: 40px;
    margin-right: -25px;
}

/* 모달 버튼 */
.p-regi-modal-bts{
	display: flex; 
	justify-content: center;
}
.p-regi-modal-bt{
	font-size: 20px; 
	width: 100px; 
	height: 40px; 
	background-color: #153A66; 
	color: white; 
	border-radius: 8px;
	margin:0 5px;
}

