@charset "UTF-8";


.header-2-menu0{
	width:95%;
	border-bottom:2px solid #797979;
	margin:0 auto;
}
.header-2-menu{
	width:150px;
	display:flex;
}
.header-2-menu:hover{
	font-weight:bold;
	font-size:18px;
}
/* 예산등록화면 */
.bud_body{
	width:95%;
	height:720px;
	border:2px solid #797979;
	margin:0 auto;
	margin-top:20px;
}
.bud_title{
	background-color:#153A66;
	height:50px;
}
.bud_title0{
	height: 100%;
    display: flex;
    align-items: center;
}
.bud_title0>span{
	padding: 0 20px;
    font-weight: bold;
    color:white;
}

.bud_conts{
	/* border:1px solid red; */
	width:100%;
	height:615px;
    padding:20px;
    display: flex;
}
.bud_cont{
	width: 100%;
	height:100%;
	display: flex;
    flex-direction: column;
}
.bud_regi_cont{
	/* border:1px solid pink; */
	width: 100%;
	height: 100%;
	overflow:auto;
}
.bud_regi_cont>table th{
	background-color:#F0F8FF;
	border:1px solid;
}
.bud_regi_cont>table th:last-child,
.bud_regi_cont>table>tbody>tr td:last-child{
	background-color:#FFFFFF;
	border:0px;
}
.bud_regi_cont>table>tbody>tr{
	height: 45px;
}
.bud_regi_cont>table>tbody>tr td{
	height:35px;
	border:1px solid #AAAAAA;
}
.bud_regi_cont>table>tbody>tr td div{
	margin-top:5px;
	margin-right:5px;
}
.bud_regi_cont-foots{
	/* border:1px solid yellow; */
	width: 94%;
}
.bud_regi_cont-foot{
    
}
.bud_add{
	display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
.bud_add_bt{
	border:1px solid #AAAAAA;
	border-radius:5px;
	width:15%;
	font-size:14px;
}
.bud_add_bt:hover{
	border:1px solid #000000;
	background-color:skyblue;
}
.bud_regi_cont-foot-1{
	background-color:#F0F8FF;
	border:1px solid;
	display: flex;
    justify-content: flex-end;
}
/* 예상매출액 */
.bud_exp{
	border:1px solid #AAAAAA;
	width:22%;
	height:360px;
	display:flex;
	flex-direction:column;
	padding: 0 24px;
	font-size:13px;
	margin-left:8px
}
.bud_exp>div{
	width:100%;
}
.bud_exp_0{
	display: flex;
    align-items: center;
    justify-content: center;
}
.progress {
	width: 180px;
	height: 100px;
	margin: 50px auto;
	position: relative;
	overflow: hidden;
	border-radius: 0;
}

.progress__bar {
	position: absolute;
	top: 0;
	left: 0;
	width: 180px;
	height: 180px;
	border-radius: 50%;
	border-top: 20px solid #e7e7e7;
	border-right: 20px solid #e7e7e7;
	border-bottom: 20px solid skyblue;
	border-left: 20px solid skyblue;
}

.progress__text {
	position: absolute;
	left: 50%;
	bottom: 40%;
	transform: translate(-50%, 100%);
	font-family: sans-serif;
	font-size: 20px;
	font-weight: bold;
 	 color: #303952
}

.bud_exp_1{
	display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.bud_exp_2{
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.bud_exp_2>div{
	display: flex;
    align-items: center;
    justify-content: space-between;
    padding:7px 0;
    font-weight:bold;
}
/* 버튼 */
.a-bud-bt{
	font-size: 15px; 
	width: 100px; 
	height: 40px; 
	color: white; 
	border-radius: 8px;
	margin-left:10px;
	font-weight:bold;
}
.bud-bt{
	font-size: 20px; 
	width: 100px; 
	height: 40px; 
	background-color: #153A66; 
	color: white; 
	border-radius: 8px;
}
.bud-bt-remove{
	font-size: 15px; 
	width: 60px; 
	height: 30px; 
	background-color: #153A66; 
	color: white; 
	border-radius: 8px;
}
.bud_regi-bt{
	width:100%;
	height:7%;
	display: flex; 
	justify-content:flex-end;
	padding: 0 20px;
}
.bud-bt-1{
	font-size: 20px; 
	width: 200px; 
	height: 40px; 
	background-color: #153A66; 
	color: white; 
	border-radius: 8px;
}
.bud-bt:hover, .bud-bt-1:hover{
	background-color:#11263F;
}
.remove-icon{
	color:red;
	font-size:25px;
	padding-right:5px;
}
.remove-icon:hover{
	color:#8E0011;
}