@charset "UTF-8";


.budget_title{
	padding-top:20px;
	letter-spacing:2px;
	font-weight:bold;
	width:95%;
	margin-top:10px; 
	border-bottom:2px solid;
	margin:0 auto;
}
.budget_head{
	width:95%;
	height:50px;
	border:2px solid;
	margin:0 auto;
	margin-top:20px;
	background-color:#153A66;
	display:flex;
}

.budget_head_b{
	font-weight:bold;
	font-size:20px;
	color:white;
	line-height: 50px;
	margin-left:auto;
	margin-right:20px;
	
}
.budget_body{
	border:1px solid;
	width:95%;
	height:600px;
	margin:0 auto; 
	background-color:#F2F2F2;
}

.card_head{
	width:375px;
	height:120px;
	border:1px solid;
	border-bottom:1px solid #F0F8FF;
	margin-left:20px;
	margin-top:20px;
	background-color:#F0F8FF;
	display:flex;
	border-radius: 8px 8px 0 0;
	flex-direction: column;
}

.card_head_a{
	display:flex;
	margin-top:20px;
	height:30px;
	width:100%;
	margin-left:35px;
}
.head_status{
	width:70px;
	height:25px;
	line-height:20px;
	font-size:15px;
	font-weight:600;
	margin:5px;
}
.card_head_b{
	display: flex;
	width:100%;
	margin-left:20px;
}
.head_title{
	width:100%;
	font-size:20px;
	font-weight: bold;
	margin-top:5px;
	margin-left:20px;
}
.card_head_c{
	display:flex;
	height:30px;
	width:100%;
	margin-left:20px;
}
.head_reg{
	width:100%;
	font-size:12px;
	font-weight: bold;
	color:#AAAAAA;
	margin-top:5px;
	margin-left:23px;
}
.card_body{
	width:375px;
	height:220px;
	border:1px solid;
	border-top:1px solid #F0F8FF;
	background-color:white;
	display:flex;
	border-radius: 0 0 8px 8px;
	flex-direction: column;
	margin:0 0 0 20px;
}
.card_body_a{
	width:450px;
	margin-left:15px;
}
.table{
	margin:10px;
	margin-top:15px;
	width:73%;
}
.table_tbody{
	font-weight:bold;
/* 	width:300px; */
	
}
td, th{
	border: none;
	
}
th{
	margin-left:5px;
}
td{
	text-align:right;
}
.table :where(th,td) {
    white-space: nowrap;
    vertical-align: middle;
    padding: 10px;
}
.card{
	margin:10px;
}

/* 예산수립 빈화면일때 아이콘 */

.budget_body_icon{
	font-size:5rem;
	position:absolute;
	width:75%;
	top:60%;
	text-align: center;
}


